{% extends 'qanda/question.html' %}

{% block javascript %}
	<script src="//{{ SITE.domain }}:{{ SOCKETIO_PORT }}/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://{{ SITE.domain }}:{{ SOCKETIO_PORT }}/socket.io');
		socket.on('connect',
			function() {
				socket.on('voteReceived',
					function(e) {
						if(e.question == {{ question.pk}}) {
							$(document).trigger('qanda:results', [e.results]);
						}
					}
				);

				socket.on('answerReceived',
					function(e) {
						if(e.question == {{ question.pk}}) {
							$(document).trigger('qanda:answer', e.answer);
						}
					}
				);
			}
		);
	</script>

	{{ block.super }}
{% endblock javascript %}
