<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Internal server error</title>
		<link rel="stylesheet" href="/media/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/media/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/media/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
	</head>
	
	<body style="background: #f9f9f9; text-align: center;">
		<div class="container" style="margin-top: 100px;">
			<div class="well" style="background: #fff;">
				<h1>Aw crap</h1>
				<p>
					Sorry, something&rsquo;s gone wrong here. But fear not, Steadman has been notified
					and he&rsquo;ll get on it ASAP.<br />
					
					If you want to call him out on Twitter though, you
					can troll him @<a href="http://twitter.com/iamsteadman">iamsteadman</a>.
				</p>
			</div>
			
			<p style="text-align: center;">
				<small style="color: #bbb;">HTTP 500 - Internal server error</small>
			</p>
		</div>
	</body>
</html>