{% extends 'bootstrap/base.html' %}

{% block extra_head %}
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
{% endblock extra_head %}

{% block content %}
	<div class="page-header" data-importance="2">
		{% block page_header %}{% endblock %}
	</div>
	
	<section class="form-content">
		{% block form_content %}{% endblock %}
	</section>
{% endblock content %}

{% block javascript %}
	{{ block.super }}
	<script src="//steadman.io/media/js/widget.js"></script>
	<Script src="{{ MEDIA_URL }}js/jquery.hashchange.js"></script>
{% endblock javascript %}