{% extends 'bootstrap/base.html' %}
{% load analytics %}

{% block extra_head %}
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
{% endblock extra_head %}

{% block content %}
	<div class="page-header" data-importance="2">
		{% block page_header %}{% endblock %}
	</div>
	
	<section class="form-content">
		{% block form_content %}{% endblock %}
	</section>
{% endblock content %}

{% block javascript %}
	{{ block.super }}
	<script src="//steadman.io/media/js/widget.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery.hashchange.js"></script>
	<script>
		var handler = StripeCheckout.configure(
			{
				key: '{{ STRIPE_KEY }}',
				token: function(token, args) {
					window.location = '{% url 'donate' %}?token=' + escape(token.id) + '&next=' + escape(window.location);
				}
			}
		);
		
		$(document).ready(
			function() {
				$('#donate').on('click',
					function(e) {
						handler.open(
							{
								name: '{{ SITE.name }}',
								description: 'Buy Steadman a brew (£3.00)',
								amount: 300,
								currency: 'GBP'
							}
						);
						
						e.preventDefault();
					}
				);
			}
		);
	</script>
	
	{% tracking %}
{% endblock javascript %}